body{
	margin:0;
	padding: 0;
}
p{
	font-family: 'Pavanam', sans-serif;
}
/*Helvetica, sans
*/h1{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	font-size: 80px;
	text-align: center;
	margin:0;
	padding: 0;

}
h2{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	margin:0;
	padding: 0;

}

h3{
	font-family: "Oswald", sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	margin:5px 0;
	padding: 0;
	z-index: 1;
	position: relative;

}
/*img{
	max-width:100%;
	height: auto;

}*/
.logo  {

	position: absolute;
	left:2%;
	top:2%;
}
	


#slide1{
background:url('img/ny.jpg');
color: #fff;
height: 150px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}



.fbox{
	display: flex;
	justify-content: center;
	margin:3%;
}
.left{
	flex:1 0 0;
	margin:3%;
}
.right{
	
	flex:4 0 0;
	margin:3%;
}

.table{
	
	margin: 0;
	padding-left:0;
	padding-right: 0;
	text-align: center;
}
.list{
	text-decoration: none;
	list-style: none;

}

.list li{
	display: inline-block;
	list-style-type: none;
	padding-left:5%;
	padding-right:5%;
}

.scontent{
	margin:5%;
}
#line{
	border-top:solid 1px grey;
	padding-top: 3%;
}
#slide4{
background:url('img/join2.jpg');
color: #fff;
height: 120px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}

#slide5 p{
	text-align: center;
}
#slide5 h2{
	font-size: 30px;
}

footer{
	border-top:solid 1px;
	color: gray;
	margin:5%;

}
footer p{
	font-size: 70%;
}

footer li{
	margin-top: 2%;
	padding-bottom:2%; 
	text-decoration: underline;
}
footer a,footer a:visited{
	color:gray;}

#slide5 a,#slide4 a{
	text-decoration: none;
}
#slide5 a{
	color:white;
}
#slide5 a:visited{
	color:silver;
}
#slide5 a:hover{
	color:gray;
}	

#slide4 a:visited{
	color:white;
}
